<link rel="stylesheet" href="../assets/bootstrap/css/maxcdn.css">
<script src="assets/stylesheets/js/scripts.js"></script>

<body>
    <div class="register-container container main">
          <div class="row">
            <div class="iphone span3">
          </div>
              <div class="register span6">

                  <%= form_for(@cvhs_locker) do |f| %> 
                  <% if @cvhs_locker.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@cvhs_locker.errors.count, "error") %> prohibited this cvhs_locker from being saved:</h2>

                      <ul>
                      <% @cvhs_locker.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <h2><img src="../assets/images/pencil.png">REGISTER FOR A HELOOO <span class="blue"> <strong> LOCKER</strong></span></h2>

                  <%= f.text_field :name1, :required => true, :class => 'left', :placeholder => "Full name..."%>

                  <%= f.text_field :studentID1, :required => true, :class => 'right', :placeholder => "ID"%>

                  <%= f.text_field :name2, :required => true, :class => 'left', :placeholder => "Partner's full name..."%>

                  <%= f.text_field :studentID2, :required => true, :placeholder => "ID", :class => "right"%>

                  <%= f.label :pref1, "First Choice: ", :class => "select-label"%>
                  <%= f.select :pref1, [5100, 5200, 5300], {include_blank: true}%>

                  <%= f.label :pref2, "Second Choice: ", :class => "select-label"%>
                  <%= f.select :pref2, [5100, 5200, 5300], {include_blank: true}%>

                  <%= f.label :pref3, "Third Choice: ", :class => "select-label"%>
                  <%= f.select :pref3, [5100, 5200, 5300], {include_blank: true}%>

                  <%= f.label :pref4, "Fourth Choice: ", :class => "select-label"%>
                  <%= f.select :pref4, [5100, 5200, 5300], {include_blank: true}%>

                  <%= f.label :pref5, "Fifth Choice: ", :class => "select-label"%>
                  <%= f.select :pref5, [5100, 5200, 5300], {include_blank: true}%>

                  <%= f.submit 'REGISTER', :class => "input-submit" %>
                  
                  <% end %>

              </div>
          </div>
      </div>
</body>
