<link rel="stylesheet" href="/assets/bootstrap/css/maxcdn.css">
<script src="/assets/stylesheets/js/scripts.js"></script>

 <script>
function checkSingle(btn){
  var second = document.getElementById("check").value;
  var first = document.getElementById("first").value;
  if (second == "" && first != ""){
    // make pop-up only appear once
    btn.onclick = null;
    confirm_single = confirm("Are you sure? Registering by yourself guarantees a 'single' locker in the 3rd floor of the 1000 building (if there are some still available).");

    // make locker preferences not required
    if(confirm_single == true){
       $('#first_select').removeAttr('required');
       $('#second_select').removeAttr('required');
       $('#third_select').removeAttr('required');
       return true;
    }
    return false;
  }
}
</script>

<body>
    <div class="register-container container main">
      <div class="spinner" id="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
      </div>
          <div class="row">
            <div class="iphone span3">
          </div>
              <div class="register span6">

                  <%= form_for(@cvhs_locker, :html => {:onsubmit => "loadAjax();"}) do |f|%> 

                  <% if flash[:notice] -%>
                    <div class="alert alert-error" style="width:100%; margin-left: -1%; margin-top: -1%;"><%= flash[:notice] %></div>
                  <% end %>

                  <h2>REGISTER FOR A <span class="blue"> <strong> LOCKER</strong></span></h2>

                  <%= f.text_field :name1, :required => true, :class => 'left', :placeholder => "Legal First name", :id => 'first'%>

                  <%= f.text_field :lastName1, :required => true, :class => 'middle', :placeholder => "Last name"%>

                  <%= f.text_field :studentID1, :required => true, :class => 'right', :placeholder => "ID"%>

                  <%= f.text_field :name2, :class => 'left', :placeholder => "Partner's first name", :id => 'check'%>

                  <%= f.text_field :lastName2, :class => 'middle', :placeholder => "Partner's last name"%>

                  <%= f.text_field :studentID2, :placeholder => "ID", :class => "right"%>

                  
                <%floor_list = {"1000 Building - First Floor"  => 1100, 
                                   "1000 Building - Third Floor"  => 1300,
                                   "2000 Building - First Floor"  => 2100,
                                   "2000 Building - Second Floor" => 2200, 
                                   "2000 Building - Third Floor"  => 2300, 
                                   "5000 Building - Second Floor" => 5200,
                                   "5000 Building - Third Floor"  => 5300, 
                                   "7000 Building - First Floor"  => 7100,
                                   "7000 Building - Second Floor" => 7200, 
                                   "7000 Building - Third Floor"  => 7300}  

                  # GETS RESTRICATED FLOORS FROM DATABASE AND TURNS INTO INT ARRAY
                  if Restriction.first
                    restricted_floors = Restriction.first[:floors].split(',').map(&:to_i)
                  else
                     restricted_floors = []
                  end

                  display_floors = session[:filled_floors] + restricted_floors
                  %>

                   <div class="one-line">
                  <%= f.label :pref1, "1st Choice of Position: ", :class => "select-label"%>
                   <%= select_tag('cvhs_locker[pref1]', options_for_select(floor_list, {disabled: display_floors} ), :include_blank => true, :required => true, :id => 'first_select') %>
                  </div>

                   <div class="one-line">
                  <%= f.label :pref2, "2nd Choice of Position: ", :class => "select-label"%>
                  <%= select_tag('cvhs_locker[pref2]', options_for_select(floor_list, {disabled: display_floors} ), :include_blank => true, :required => true, :id => 'second_select') %>
                  </div>

                  <div class="one-line">
                  <%= f.label :pref3, "3rd Choice of Position: ", :class => "select-label"%>
                  <%= select_tag('cvhs_locker[pref3]', options_for_select(floor_list, {disabled: display_floors} ), :include_blank => true, :required => true, :id => 'third_select') %>
                  </div>

                  <button onclick="return checkSingle(this);" id="register-button">REGISTER</button>
                  
                  <% end %>
              </div>
          </div>
    </div>


    <div style="width: 100%">
      <p id="credit-text">Background By: Laura Perez</p>
    </div>

     <!-- SPINNER -->
    <div id="results"><!-- Results are displayed here --></div>
    <div id="fade"></div>
    <div id="modal">
        <img id="loader" src="/assets/images/loading.gif" />
    </div>

    <p></p>

</body>
