<div id="settingsModal" class="modal fade black" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Settings</h4>
      </div>

      <div class="over">

      <div id="settings-buttons">
          <!-- DOWNLOAD XLSX SHEET -->
         <a href='/download' download id="download-button" class="master-button">Generate Excel File</a>

         <!-- RESET DATABASE -->
         <a download id="download-button" class="master-button" style="background: #D80000" onclick="return clearAttempt()" href="/clear">Reset Database</a>

         <br/><br/><br/>

          <!-- SWITCH STUDENT FILTER -->
         <div class="new-line">
           <fieldset class="upload-field">
           <h4>Switch Student Locator</h4>
            <%= form_tag({:action => 'upload_students'}, :multipart => true) do %>
              <%= file_field_tag 'student_locator' %>
              <input type="submit" value="Upload" class="master-button" id="download-button" style="margin:0; margin-bottom: 10px">
            <% end %>
            </fieldset>
          </div>
          <br />
          <!-- SWITCH LOCKER GUIDE -->
         <div class="new-line">
           <fieldset class="upload-field">
           <h4>Switch Locker Guide</h4>
            <%= form_tag({:action => 'upload_lockers'}, :multipart => true) do %>
              <%= file_field_tag 'locker_guide' %>
              <input onclick="return replaceLockerAttempt()" type="submit" value="Upload" class="master-button" id="download-button" style="margin:0; margin-bottom: 10px">
            <% end %>
            </fieldset>
          </div>
          <br />
          <!-- ADD TO LOCKER GUIDE -->
<!--           <div class="new-line">
           <fieldset class="upload-field">
           <h4>ADD to Locker Guide</h4>
            <%= form_tag({:action => 'add_lockers'}, :multipart => true) do %>
              <%= file_field_tag 'add_locker_guide' %>
              <input type="submit" value="Upload" class="master-button" id="download-button" style="margin:0; margin-bottom: 10px">
            <% end %>
            </fieldset>
          </div> -->

          <br />
          <div class="new-line">
           <fieldset class="upload-field" style="width:425px">
            <% restriction = Restriction.first %>
            <h5>Current Grade Level Permitted: <span class="red-text"><%= ("closed" if restriction[:grades] == 100) || restriction[:grades] %></span></h5>
            <h5>Current Restricted Floors: <span class="red-text"><%= restriction[:floors][0..(restriction[:floors].length-2)] %></span></h5>
          </div>
     </div>

     <div id="settings">
       <!-- UPDATE RESTRICTIONS -->
       <form action="restricted" method="post">

            <h2>Change Grade Restriction</h2>
            <!-- GRADE RESTRICTION -->
            <input type="radio" name="grade" value='9'> 9th<br>
            <input type="radio" name="grade" value="10"> 10th<br>
            <input type="radio" name="grade" value="11"> 11th<br>
            <input type="radio" name="grade" value="12"> 12th<br>
            <input type="radio" name="grade" value="100"> Not Open<br>

            <h2>Change Floor Restriction</h2>
            <!-- FLOOR RESTRICTION -->
            <input type="checkbox" name="floor0" value="none">None<br>
            <div style="height: 6px"> </div>
            <input type="checkbox" name="floor1" value="Top Locker (1100)">Top Locker (1100)<br>
            <input type="checkbox" name="floor2" value="Bottom Locker (1100)">Bottom Locker (1100)<br>
            <div style="height: 6px"> </div>
            <input type="checkbox" name="floor3" value="Top Locker (1300)">Top Locker (1300)<br>
            <input type="checkbox" name="floor4" value="Bottom Locker (1300)">Bottom Locker (1300)<br>
            <div style="height: 6px"> </div>
            <input type="checkbox" name="floor5" value="Top Locker (2100)">Top Locker (2100)<br>
            <input type="checkbox" name="floor6" value="Bottom Locker (2100)">Bottom Locker (2100)<br>
            <div style="height: 6px"> </div>
            <input type="checkbox" name="floor7" value="Top Locker (2200)">Top Locker (2200)<br>
            <input type="checkbox" name="floor8" value="Bottom Locker (2200)">Bottom Locker (2200)<br>
            <div style="height: 6px"> </div>
            <input type="checkbox" name="floor9" value="Top Locker (2300)">Top Locker (2300)<br>
            <input type="checkbox" name="floor10" value="Bottom Locker (2300)">Bottom Locker (2300)<br>
            <div style="height: 6px"> </div>
            <input type="checkbox" name="floor11" value="Top Locker (5200)">Top Locker (5200)<br>
            <input type="checkbox" name="floor12" value="Bottom Locker (5200)">Bottom Locker (5200)<br>
            <div style="height: 6px"> </div>
            <input type="checkbox" name="floor13" value="Top Locker (5300)">Top Locker (5300)<br>
            <input type="checkbox" name="floor14" value="Bottom Locker (5300)">Bottom Locker (5300)<br>
            <div style="height: 6px"> </div>
            <input type="checkbox" name="floor15" value="Top Locker (7100)">Top Locker (7100)<br>
            <input type="checkbox" name="floor16" value="Bottom Locker (7100)">Bottom Locker (7100)<br>
            <div style="height: 6px"> </div>
            <input type="checkbox" name="floor17" value="Top Locker (7200)">Top Locker (7200)<br>
            <input type="checkbox" name="floor18" value="Bottom Locker (7200)">Bottom Locker (7200)<br>
            <div style="height: 6px"> </div>
            <input type="checkbox" name="floor19" value="Top Locker (7300)">Top Locker (7300)<br>
            <input type="checkbox" name="floor20" value="Bottom Locker (7300)">Bottom Locker (7300)<br>

       <!--      <h2>Change Password</h2>
            <input type="password" name="current_password" placeholder="Current Password" class="password"></input>
            <input type="password" name="new_password" placeholder="New Password" class="password"></input>
            <input type="password" name="again_password" placeholder="Re-enter New Password" class="password"></input> -->


            <div class="new-line">
              <input type="submit" value="Save Changes" class="master-button" id="settings-submit">
            </div>
       </form>
     </div>

     </div>

    </div>

  </div>
</div>