<% if flash[:notice] -%>
    <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<div class="index">

  <div class="spinner" id="spinner">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>

  <table>

    <div class="index-line">
        <!-- Search Box -->
        <input class="form-control input-transparent search-box" id="search" type="text" placeholder="Search">
        <a class="master-button" id="search-submit">Search</a>

        <%= render 'stats_modal' %>
        
        <%= render 'settings_modal' %>

      </div>

    </div>
        
      <thead>
        <tr>
          <th>Student 1</th>
          <th>Last Name</th>
          <th>ID 1</th>
          <th>Student 2</th>
          <th>Last Name</th>
          <th>ID 2</th>
          <th>Building</th>
          <th>Locker Number</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <br>

      <tbody>
          <% @cvhs_lockers.each do |cvhs_locker| %> 
          <tr>
            <td><%= cvhs_locker.name1 %></td>
            <td><%= cvhs_locker.lastName1 %></td>
            <td><%= cvhs_locker.studentID1 %></td>
            <td><%= cvhs_locker.name2 %></td>
            <td><%= cvhs_locker.lastName2 %></td>
            <td><%= cvhs_locker.studentID2 %></td>
            <td><%= cvhs_locker.buildingNum %></td>
            <td><%= cvhs_locker.lockerNum %></td>
            <td><%= link_to 'Delete', cvhs_locker, :method => :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>

    <br>

    <button class="master-button back"><%= link_to 'Back', 'javascript:history.go(-1);', {:style=>'color:white;'} %> </button>

     <!-- SPINNER -->
    <div id="results"><!-- Results are displayed here --></div>
    <div id="fade"></div>
    <div id="modal">
        <img id="loader" src="/assets/images/loading.gif" />
    </div>

</div>

<script>
    // DOUBLE CHECK
    function clearAttempt() {
       if (confirm('Make sure to generate excel sheets BEFORE clearing, or all data will be lost.')) {
           return confirm('This will clear the database, it cannot be undone. Please make sure you have already generated the excel sheet.')
       } else {
           return false;
       }
    }

    function replaceLockerAttempt() {
       if (confirm('CAUTION: This will clear the current locker-signups database. All registered students will be cleared.')) {
           return confirm('This cannot be undone. Are you sure?')
       } else {
           return false;
       }
    }

   // SEARCH FUNCTION
   var $rows = $('tbody tr');
   $('#search').keyup(function() {
       
       var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
           reg = RegExp(val, 'i'),
           text;
       
       $rows.show().filter(function() {
           text = $(this).text().replace(/\s+/g, ' ');
           return !reg.test(text);
       }).hide();
   });
</script>