<% if flash[:notice] -%>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<div class="index">
  <table>

    <div class="index-line">
        <!-- Search Box -->
        <%= form_tag cvhs_lockers_path, method: 'get' do %>
          <p>
            <%= text_field_tag  :search, params[:search], :placeholder => "Search By ID..", id:"search-box" %>
            <%= submit_tag  "Search", id: "search-submit", class: "master-button"%>
          </p>
        <% end %>

        <!-- Modal -->
        <div id="myModal" class="modal fade black" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Settings</h4>
              </div>

              <div id="settings-buttons">
                  <!-- DOWNLOAD XLSX SHEET -->
                 <a href='/download' download id="download-button" class="master-button">Generate Excel File</a>

                 <a id="download-button" class="master-button">Switch Student Locator</a>
             </div>

             <div id="settings">
               <!-- UPDATE RESTRICTIONS -->
               <form action="restricted" method="post">

                    <h2>Change Grade Restriction</h2>
                    <!-- GRADE RESTRICTION -->
                    <input type="radio" name="grade" value='9'> 9th<br>
                    <input type="radio" name="grade" value="10"> 10th<br>
                    <input type="radio" name="grade" value="11"> 11th<br>
                    <input type="radio" name="grade" value="12"> 12th<br>

                    <h2>Change Floor Restriction</h2>
                    <!-- FLOOR RESTRICTION -->
                    <input type="checkbox" name="floor0" value="none">None<br>
                    <input type="checkbox" name="floor1" value="1100">1000 Building - First Floor<br>
                    <input type="checkbox" name="floor2" value="1300">1000 Building - Third Floor<br>
                    <input type="checkbox" name="floor3" value="2100">2000 Building - First Floor<br>
                    <input type="checkbox" name="floor4" value="2200">2000 Building - Second Floor<br>
                    <input type="checkbox" name="floor5" value="2300">2000 Building - Third Floor<br>
                    <input type="checkbox" name="floor6" value="5200">5000 Building - Second Floor<br>
                    <input type="checkbox" name="floor7" value="5300">5000 Building - Third Floor<br>
                    <input type="checkbox" name="floor8" value="7100">7000 Building - First Floor<br>
                    <input type="checkbox" name="floor9" value="7200">7000 Building - Second Floor<br>
                    <input type="checkbox" name="floor10" value="7300">7000 Building - Third Floor<br>

                    <input type="submit" value="Save Changes" class="master-button" id="settings-submit">
               </form>
             </div>

            </div>

          </div>
        </div>


      </div>

    </div>
        
    <thead>
      <tr>
        <th>Student 1</th>
        <th>Last Name</th>
        <th>ID 1</th>
        <th>Student 2</th>
        <th>Last Name</th>
        <th>ID 2</th>
        <th>Building</th>
        <th>Locker Number</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <!-- NO SEARCH INPUTED -->
    <% if params[:search] == nil %>
      <%= will_paginate %>

      <br>

      <tbody>
          <% @cvhs_lockers.each do |cvhs_locker| %> 
          <tr>
            <td><%= cvhs_locker.name1 %></td>
            <td><%= cvhs_locker.lastName1 %></td>
            <td><%= cvhs_locker.studentID1 %></td>
            <td><%= cvhs_locker.name2 %></td>
            <td><%= cvhs_locker.lastName2 %></td>
            <td><%= cvhs_locker.studentID2 %></td>
            <td><%= cvhs_locker.buildingNum %></td>
            <td><%= cvhs_locker.lockerNum %></td>
            <td><%= link_to 'Edit', edit_cvhs_locker_path(cvhs_locker) %></td>
            <td>-</td>
            <td><%= link_to 'Delete', cvhs_locker, :method => :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
      <br>

      <%= will_paginate %>
      <br>

    <!-- SEARCH INPUTED -->
    <% else %>

      <br>

      <!-- INVALID -->
      <% if @cvhs_lockers == nil %>
          <tbody>
              <tr>
                <td><h4 style="color: red">STUDENT NOT FOUND</h1></td>
              </tr>
          </tbody>
          </table>
          <br>

      <!-- VALID -->
      <% else %>
          <br>
          <tbody>
              <tr>
                <td><%= @cvhs_locker.name1 %></td>
                <td><%= @cvhs_locker.lastName1 %></td>
                <td><%= @cvhs_locker.studentID1 %></td>
                <td><%= @cvhs_locker.name2 %></td>
                <td><%= @cvhs_locker.lastName2 %></td>
                <td><%= @cvhs_locker.studentID2 %></td>
                <td><%= @cvhs_locker.lockerNum %></td>
                <td><%= link_to 'Edit', edit_cvhs_locker_path(@cvhs_lockers) %></td>
                <td>-</td>
                <td><%= link_to 'Delete', @cvhs_lockers, :method => :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          </tbody>
          </table>
          <br>
      <% end %>

    <% end %>

    <button class="master-button back"><%= link_to 'Back', 'javascript:history.go(-1);', {:style=>'color:white;'} %> </button>

</div>
