<div class="success">

	<h2>Locker Registered</h2>

	<table>
		<thead>
	      <tr>
	        <th>First Name</th>
	        <th>Last Name</th>
	        <th>First Name</th>
	        <th>Last Name</th>
	        <th>Locker Number</th>
	        <th colspan="3"></th>
	      </tr>
	    </thead>

	    <br>
	    <tbody>
	        <tr>
	            <td><%= @cvhs_locker.name1 %></td>
                <td><%= @cvhs_locker.lastName1 %></td>
                <td><%= @cvhs_locker.name2 %></td>
                <td><%= @cvhs_locker.lastName2 %></td>
                <td><%= @cvhs_locker.lockerNum %></td>
	        </tr>
	    </tbody>

	  </table>
	  <br>

	</table>

</div>